
.mailIcon {
	float:left;
	height:80px;
	width:80px;
	border-radius:100px;
	text-align:center;
	font-size:250%;
	color:white;
	vertical-align: middle;
	line-height: 80px; 
	margin:0 20px 20px 20px;
	
}

.unsentMail {
	background-color:#f5e625;
}

.sentMail {
	background-color:#22b24c;
}

.newsletterItem {
	transition: background-color 0.6s;
}

.newsletterItem h4{
	margin-top:0;
}
.newsletterItem:hover{
	background-color:#f2f2f2;
}
.newsletter-options a {
	margin-right:5px;
}

.newsletter-options {
	padding-bottom:5px;
	margin-bottom:5px;
	padding-top:10px;
	border-bottom:1px solid gray;
}